body {
  padding: 1em 0;
  background: #eee;
}

.clear-float::after {
  content: "";
  display: table;
  clear: both;
}

.companies-list {
  margin-bottom: 2em;
}

.company-form, 
.person-form {
  background: #ddd;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 2em;

  &-info {
    margin-bottom: 0.5em;
  }
  &-thumb {
    margin-right: 0.5em;
  }
}

.company-details {
  
}